#log-in {
    box-shadow: inset 0 0 0 0 #ce93d8;
    color: #ce93d8;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#log-in:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #ce93d8;
}

#log-in {
    color: #ce93d8;
    font-family: 'Sono', sans-serif;
    line-height: 1.5;
    text-decoration: none;
}

#light-log-in {
    box-shadow: inset 0 0 0 0 #6eeeed;
    color: #6eeeed;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#light-log-in:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #6eeeed;
}

#light-log-in {
    color: #6eeeed;
}
