#author-avatar {
    max-width: 30px;
    max-height: 30px;
    border-radius: 30px;
}

#preview-image {
    width: 100%;
    height: 500px;
    object-fit: fill;
    border-radius: 20px;
    /*outline: #303030 1px solid;*/
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.conic {
    padding: 5px;
}

.conic:hover {
    position: relative;
    z-index: 0;
    border-radius: 25px;
    overflow: hidden;
}

.conic:hover::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -60%;
    width: 1500px;
    height: 1500px;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: rotate 3s linear infinite 0.5s, img-appear 1s linear;
}

@keyframes img-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.conic-dark:hover::before {
    background: linear-gradient(90deg, #3f51b5, transparent) #e91e63;
}

.conic-light:hover::before {
    background: linear-gradient(90deg, #7879ff, transparent) #6eeeed;
}

.conic-dark:hover::after {
    background: #1e1e1e;
}

.conic-light:hover::after {
    background: #ffffff;
}

.conic:hover::after {
    content: '';
    position: absolute;
    border-radius: 30px;
}

/*.conic:not(:hover):before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    z-index: -2;*/
/*    left: -50%;*/
/*    top: -60%;*/
/*    width: 1500px;*/
/*    height: 1500px;*/
/*    animation: img-disappear 1s linear forwards;*/
/*    background: linear-gradient(90deg, #3f51b5, transparent) #e91e63;*/
/*}*/

/*.conic-dark:not(:hover)::after {*/
/*    animation: img-disappear 1s linear forwards;*/
/*    background: #1E1E1E;*/
/*}*/

/*.conic-light:not(:hover)::after {*/
/*    background: #FFFFFF;*/
/*}*/

/*.conic-dark:not(:hover)::before {*/

/*    animation: img-disappear 1s linear ;*/
/*    background: linear-gradient(90deg, #3f51b5, transparent) #e91e63;*/
/*}*/

/*.conic-light:not(:hover)::before {*/
/*    background: linear-gradient(90deg, #7879ff, transparent) #6eeeed;*/
/*}*/

/*@keyframes img-disappear {*/
/*    from{opacity:1;}*/
/*    to{opacity: 0;}*/
/*}*/

@keyframes opacityChange {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*.gradient-hover-effect {*/
/*    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;*/
/*    color: #fff;*/
/*    place-content: center;*/
/*}*/
/*.gradient-hover-effect:hover, .gradient-hover-effect:focus {*/
/*    background: linear-gradient(90deg, #3f51b5, transparent) #e91e63;*/
/*    color: #fff;*/
/*}*/

.zoom:not(:hover) {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.zoom:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    padding: 6px;
}
